<div class="row">
    <div class="col-xs-12">

        <div ng-repeat="adv in advisories">
            <h3>{{adv.cveId}}</h3>

            <p ng-bind-html="adv.description"></p>

            <h4>Severity</h4>
            <h5>CVSS 2.0</h5>
            <div id="cvss2">
                <p>Severity: {{adv.severity}}</p>
                <p>Problem Type: {{adv.problemType}}</p>
            </div>

            <h5>CVSS 3.x</h5>
            <div ng-repeat="inst in item.cvssMetrics3">
                <p>Source: {{inst.source}} Base Score: <b>{{inst.baseScore}}</b> Base Severity: {{inst.baseSeverity}}</p>
                <p>Vector: {{inst.vectorString}}</p>
                <p>Exploitability: {{inst.exploitabilityScore}} Impact: {{inst.impactScore}}</p>
                <p>Attack Vector: {{inst.attackVector}} Attack Complexity: {{inst.attackComplexity}}</p>
            </div>

            <h4>Products affected</h4>
            <div ng-repeat="inst in adv.products">
                <b>{{inst.vendor.name}}</b>  {{inst.name}} {{inst.version}}
            </div>

            <h5>Fixed MidnightBSD mport packages (if applicable)</h5>
            <div ng-repeat="inst in adv.fixedPackages">
                   {{inst.name}} {{inst.version}}
            </div>
        </div>

        <br>
    </div>
</div>