<div class="row">
    <div class="col-xs-12">

        <div ng-repeat="adv in advisories">
            <h3>{{adv.cveId}}</h3>

            <p>Severity: {{adv.severity}}</p>
            <p>Problem Type: {{adv.problemType}}</p>

            <p ng-bind-html="adv.description"></p>

            <h3>Products affected</h3>
            <div ng-repeat="inst in adv.products">
                <b>{{inst.vendor.name}}</b>  {{inst.name}} {{inst.version}}
            </div>

            <h5>Fixed MidnightBSD mport packages (if applicable)</h5>
            <div ng-repeat="inst in adv.fixedPackages">
                   {{inst.name}} {{inst.version}}
            </div>
        </div>

        <br>
    </div>
</div>