<div class="row">
    <div class="col-xs-6 col-md-4">
        <h2>Find by Vendor</h2>
        <ul>
            <li ng-repeat="vendor in vendors">
                <a ng-href="#!/advisory/{{vendor.name}}">{{vendor.name}}</a>
            </li>
        </ul>
    </div>

    <div class="col-xs-6 col-md-4">
        <h2>About the Advisory Site</h2>
        <p>The MidnightBSD Advisory site helps you find existing and new vulnerabilities in installed software
        on your system.</p>

        <p>The database includes all vulnerabilities available in the NIST NVD. Other projects may use the API to
               check their systems as well.</p>

        <h3>Search For Vulnerabilities</h3>

        <form name="bsearch" id="bsearch">
            <fieldset>
                <p>
                    <input type="text" name="bquery" id="bquery" value="" data-ng-model="term">
                    <button data-ng-click="search()" class="btn btn-primary">Find</button>
                </p>
            </fieldset>
        </form>

    </div>
</div>
